div.top
div.container
    div.content
        h4 Add
        label(for="title") Title: 
        input(ng-model="form.title", name="title")
        label(for="note") Note: 
        input(ng-model="form.note", name="note")
        button(ng-click="add()") Save
        button(class ng-click='cancel()') Cancel
div.footer
