extends layout

block content
  div(ng-view)
  script(src='js/lib/angular/angular.min.js')
  script(src='js/lib/angular/angular-route.min.js')
  script(src='js/lib/materialize/materialize.min.js')
  script(src='js/controlersMapping.js')
  script(src='js/controllers.js')